@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code {
    HttpClient http = new HttpClient();
    string[] Urls = Environment.GetEnvironmentVariable("NODE_URLS").Split(',');
}